/*This style.css file is meant to be used for the Audio Wave project. */

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Handlee');

body {
	padding: 0;
	margin: 0;
	min-width:1000px;
	font-family: 'Permanent Marker', helvetica;
	font-size:40px;
	background-color: rgb(0,0,0);
	/* hide the horizontal scrollbar */
	overflow-x: hidden;
}

header {
	position:relative;
	top:0;
	padding:0;
	margin:0;
	text-align: center;
}

h1 {
	padding:0;
	margin:40px 0 10px 0;
	color:white;
	font-size: 1.6em;
}

#searchArea {
	position:relative;
	top:0;
	padding:0;
	width:100%;
	text-align: center;
}

#searchBtn {
	outline:none;
	background-color: #3385ff;
	color: black;
	border: none;
	width:8%;
	padding:7px;
	font-size: 0.5em;
	font-family: 'Handlee', helvetica;
	cursor:pointer;
}

#searchBtn:hover {
	background-color: #0066ff;
	color: white;
/*	box-shadow: inset 0 0 0 3px #66b3ff; */
}

#userInput {
	background-image:url("images/searchIcon.png");
	background-repeat: no-repeat;
	background-size: 36px 36px;
    background-position: 0 0;
	width:30%;
	height:5%;
	padding:3px 35px;
	margin-left:2%;
	margin-bottom:1%;
	font-size: 0.6em;
	font-family: 'Handlee', helvetica;
}


#controlArea {
	position:relative5;
	top:30px;
	left:2%;
	height:60px;
	text-align: center;
}

#controlBtn {
	/* prevent default blue outline after button click */
	outline:none;

	border: none;
	background-color:black;
	float:left;
	margin-left:45%;
	width:6%;
	height:5%;
	padding:5px;
	font-size: 0.4em;
	font-family: 'Handlee', helvetica;
	align-content: center;
	cursor:pointer;
}

#volumeArea {
	float:left;
	position:relative;
	width:160px;
	height:50px;
	margin: 5px 1%;
}

#volumeIcon {
	float:left;
	margin-top:5px;
}

#volume {
	float:left;
	margin-top:16px;
	margin-left:3px;

	/*removes default webkit styles*/
    -webkit-appearance: none;
	
	width: 120px;
	outline:none;
}

#volume::-webkit-slider-runnable-track {
    width: 300px;
    height: 6px;
    background: #ddd;
    border: none;
    border-radius: 2px;
    margin-top: 2px;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #3399ff;
    margin-top: -8px;
}

#container {
	position:relative;
	top:0;
	width:100%;
	height:550px;
}

#svg, #svg2 {
	display: block;
}

#soundcloudIcon {
	position:absolute;
	top:7%;
	left:65%;
}

#songTitle {
	position:absolute;
	top:35%;
	left:10%;
	width:80%;
	text-align:center;
	color:white;
	font-size:1.5em;
}

#docBtn {
	position: fixed;
	top:30px;
	left:3%;
	outline:none;
	background-color: #3385ff;
	text-decoration: none;
	color: black;
	border: none;
	width:6%;
	height:4%;
	padding-top: 5px;
	padding-left: 10px;
	text-align: center;
	font-size: 0.5em;
	font-family: 'Handlee', helvetica;
	cursor:pointer;

	background-image:url("images/githubIcon.png");
	background-repeat: no-repeat;
	background-size: 22px 22px;
    background-position: 5px 5px;
}

#docBtn:hover {
	background-color: #0066ff;
	color: white;
}

/*#documentation {
	position:absolute;
	top:120px;
	left:10%;
	right:10%;
	font-family:helvetica, sans-serif;
	font-size:0.5em;
	color:gray;
}*/

@media(max-width: 1350px){

	#searchBtn {
		width: 9%;
		font-size:0.5em;
	}

	#soundcloudIcon {
		left:68%;
	}	
}

@media(max-width: 1170px){

	h1 {
		font-size:1.4em;
	}

	#searchBtn {
		width: 9%;
		font-size:0.4em;
	}

	#userInput {
		font-size:0.4em;
	}

	#soundcloudIcon {
		width:6%;
		left:69%;
	}	
}

